
<!-- Modaal pop-up venster -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Tips & Tricks</h5>
            </div>
            <div class="modal-body">
                <p>U kunt hier zoeken op:</p>
                <ul>
                    <li><strong>Serienummer</strong> en <strong>barcode</strong> van het toestel</li>
                    <li><strong>Naam</strong>, <strong>voornaam</strong>, of <strong>volledige naam</strong> van de leerling</li>
                    <li><strong>Type</strong> van het toestel</li>
                    <li><strong>Status</strong> van het toestel</li>
                </ul>
                <p>Gebruik de volgende Engelse benamingen om toestellen met een bepaalde status te zoeken:</p>
                <ul>
                    <li>Beschadigd = <strong>Damage</strong></li>
                    <li>Niet afgerond = <strong>Termination</strong></li>
                    <li>In gebruik = <strong>InUse</strong></li>
                    <li>Beschikbaar = <strong>Available</strong></li>
                    <li><strong>Reserve</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    

