@model SchoolPCScanner.Models.Device
@{
    ViewData["Title"] = "Home Page";
    bool userIsAuthenticated = User.Identity.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">Welkom bij het</h1>
   @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
  

    <div>
        <h2 class="display-4">Toestelbeheersysteem</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="even-width-buttons">
            @Html.ActionLink("Binnenbrengen", "BinnenBrengenView", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Ontlenen", "OphalenView", "Home", null, new { @class = "btn btn-primary" })
        </div>
        }
        else
        {
            <h3>Gast</h3>
            <div class="alert alert-warning" role="alert">
                U bent niet ingelogd. Om alle functies te gebruiken, registreer of log in via de knop rechtsboven.
            </div>
        }
    </div>
</div>

